<div class=" p-dialog-content" [formGroup]="tempQuestionForm">
  <div class="flex flex-column gap-3 mt-3 ">
    <div class="flex gap-3 align-items-center">
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="questionId">Question</label>
        <span
          class="p-input-icon-left w-full">
          <i class="pi pi-question"></i>
          <select class="p-inputtext p-component p-element w-full" id="questionId" formControlName="questionId">
            <option value="0">Select Option</option>
            <option *ngFor="let question of questions" [value]="question?.id">{{question?.questionText}}</option>
          </select>
        </span>
      </div>
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="time">Time</label>
        <span
          class="p-input-icon-left w-full">
        <i class="pi pi-clock"></i>
        <input class="p-inputtext p-component p-element w-full" id="time"
               formControlName="time" placeholder="Enter Time" type="number">
        </span>
      </div>
      <div class="flex justify-content-around surface-border w-full pt-2">
        <button (click)="onCancel()" class="p-element p-ripple p-button-text p-button p-component">
      <span
        class="p-button-label">Cancel
      </span>
        </button>
        <button (click)="onSubmit()" [disabled]="tempQuestionForm.invalid"
                class="p-element p-ripple p-button-rounded p-button p-component">
      <span
        class="p-button-label">Submit
      </span>
        </button>
      </div>
    </div>
  </div>
</div>
