<div  class="block-section w-full h-full">
    <div  class="block-content">
      <div  class="" style="height: 100vh; overflow: hidden;">
        <div  class="min-h-screen flex relative lg:static surface-ground">
          <div
               class="h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none w-12rem bg-indigo-800 animation-duration-300 animation-ease-in-out"
               id="app-sidebar-6">
            <div  class="flex flex-column h-full">
              <div  class="flex align-items-center justify-content-center flex-shrink-0"
                   style="height: 60px;"><img alt="Image" height="30" class="border-round" src="https://cdn.discordapp.com/attachments/1033026260546355320/1190234263363268700/download.png?ex=65a10f09&is=658e9a09&hm=f137e6d8407223dfd746ee613f2cb6ae773ed1714b6e2dd9367eaa904ccbf9f4&"></div>
              <div  class="my-3 p-3"><span class="p-input-icon-left"><i
                class="pi pi-search text-indigo-50"></i><input class="p-inputtext p-component p-element appearance-none border-none bg-indigo-700 text-indigo-50 w-full"
                                                               type="text"></span>
              </div>
              <div  class="overflow-y-auto">
                <ul class="list-none p-3 m-0 flex flex-wrap">
                  <li routerLink="/student" class="w-6 text-center"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                 style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-home text-2xl"></i><span class="p-ink"></span></a>
                    <div class="mt-2 text-indigo-200 font-medium text-sm">Home</div>
                  </li>
                  <li routerLink="quizzes" class="w-6 text-center"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                 style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-question text-2xl"></i><span class="p-ink"></span></a>
                    <div  class="mt-2 text-indigo-200 font-medium text-sm">Quizzes</div>
                  </li>
                  <li class="w-6 text-center mt-3"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                      style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-users text-2xl"></i><span class="p-ink"></span></a>
                    <div  class="mt-2 text-indigo-200 font-medium text-sm">Users</div>
                  </li>
                  <li routerLink="chats" class="w-6 text-center mt-3"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                      style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-comments text-2xl"></i><span class="p-ink"></span></a>
                    <div  class="mt-2 text-indigo-200 font-medium text-sm">Chats</div>
                  </li>
                  <li class="w-6 text-center mt-3"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                      style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-calendar text-2xl"></i><span class="p-ink"></span></a>
                    <div  class="mt-2 text-indigo-200 font-medium text-sm">Calendar</div>
                  </li>
                  <li class="w-6 text-center mt-3"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                      style="width: 60px; height: 60px; border-radius: 10px;"><i
                    class="pi pi-cog text-2xl"></i><span class="p-ink"></span></a>
                    <div  class="mt-2 text-indigo-200 font-medium text-sm">Settings</div>
                  </li>
                </ul>
              </div>
              <div  class="mt-auto border-top-1 border-indigo-700 p-3 flex justify-content-between">
                <a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                   style="width: 40px; height: 40px; border-radius: 10px;"><img class="border-round"
                  src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 24px; height: 24px;"><span
                  class="p-ink"></span></a><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                              style="width: 40px; height: 40px; border-radius: 10px;"><i
                class="pi pi-slack text-xl"></i><span class="p-ink"></span></a><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"

                                                                                  style="width: 40px; height: 40px; border-radius: 10px;"><i
                class="pi pi-github text-xl"></i><span class="p-ink"></span></a></div>
            </div>
          </div>
          <div  class="min-h-screen flex flex-column relative flex-auto">
            <div

              class="flex justify-content-between align-items-center px-5 surface-section shadow-2 relative lg:static border-bottom-1 surface-border" style="height: 60px;">
              <div  class="flex"><a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
              ><i
                class="pi pi-bars text-4xl"></i><span class="p-ink"></span></a></div>
              <a class="p-ripple p-element cursor-pointer block lg:hidden text-700"
                  ><i
                class="pi pi-ellipsis-v text-2xl"></i><span class="p-ink"></span></a>
              <ul
                class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
                <li><a class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
                       ><i
                  class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i><span class="block lg:hidden font-medium">Inbox</span><span
                  class="p-ink"></span></a></li>
                <li><a class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
                       ><i
                  class="p-element pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge"
                  ><span
                  class="p-badge p-component p-badge-danger p-badge-dot" id="pr_id_8_badge"></span></i><span
                  class="block lg:hidden font-medium">Notifications</span><span class="p-ink"></span></a></li>
                <li class="border-top-1 surface-border lg:border-top-none"><a class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
                ><img
                  class="mr-3 lg:mr-0 border-round" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  style="width: 32px; height: 32px;">
                  <div  class="block lg:hidden">
                    <div  class="text-900 font-medium">Josephine Lillard</div>
                    <span class="text-600 font-medium text-sm">Marketing Specialist</span></div>
                  <span class="p-ink"></span></a></li>
              </ul>
            </div>
            <div  class="p-5 flex flex-column flex-auto">
              <div
                   class="surface-border border-round surface-section flex-auto">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div></div>
  </div>
