<p-sidebar [(visible)]="sidebarVisible" [position]="'right'" [styleClass]="'p-sidebar-md'"
           [transitionOptions]="'300ms cubic-bezier(0,0,0.2,1)'">
  <app-manage-quiz
    *ngIf="operation === 'create'"
    (cancel)="cancel()"
    (submit)="save($event)"
    [operation]="operation"
    [quiz]="quiz"
  ></app-manage-quiz>
</p-sidebar>
<p-dialog [(visible)]="dialogVisible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '50vw' }" header="Assign Question">
  <app-manage-temp-question
    *ngIf="operation === 'questions'"
    (submit)="saveTempQuestion($event)"
    (cancel)="cancelTempQuestion()"
  >
  </app-manage-temp-question>
</p-dialog>
<p-dialog [(visible)]="visible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '50vw' }" header="{{operationTitle}}">
  <app-assign-quiz
    (cancel)="cancel()"
    (submit)="saveAssignQuiz($event)"
    *ngIf="operation === 'create'"
    [assignQuiz]="assignQuiz"
    [students]="students"
  ></app-assign-quiz>
  <app-un-assign-quiz
    (delete)="deleteAssignQuiz($event)"
    *ngIf="operation === 'update'"
    [assignQuizzes]="assignQuizzes"
  >
  </app-un-assign-quiz>
  <div *ngIf="operation === 'questions'" class="">
    <button (click)="createTempQuestion()" class="p-button-rounded p-button-success p-button-text my-2" icon="pi pi-plus" pButton pRipple
            type="button">Add Question
    </button>
    <app-temp-question
    [tempQuestions]="tempQuestions"
    (delete)="removeTempQuestion($event)"
    >
    </app-temp-question>
  </div>
</p-dialog>
<div class="p-3">
  <button (click)="createQuiz()"
          class="p-button-success"
          icon="pi pi-plus"
          label="Create Quiz"
          pButton
  >
  </button>
  <app-quiz-data-view
    (assign)="createAssignStudent($event)"
    (delete)="deleteQuiz($event)"
    (question)="tempQuestionList($event)"
    (unAssign)="createUnAssignStudent($event)"
    (update)="updateQuiz($event)"
    [quizzes]=quizzes
  ></app-quiz-data-view>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '45vw'}"
                 acceptButtonStyleClass="p-button-danger"
                 acceptIcon="pi pi-trash"
                 acceptLabel="Delete"
                 rejectLabel="Cancel"></p-confirmDialog>
