/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.custom-select {
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
